body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4A4E4D;
}

a {
  color: #42729B;
}
.container-fluid {
  padding: 0;
}

/* header*/

a.hover {
  text-decoration: none;
}

.navbar {
  background: #C5EFF7;
  padding: 0 15px;
  border: 0;
}

.navbar a {
  border-radius: 0;
  color: #6C7A89;
  font-size: 1.2em;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: #F8D9D5;
  border: 0;
}

#root > div > nav > div > div > a {
  font-size: 1.5em;
  color: #42729B;
}

/* recipe detail*/

.recipe-form {
  margin-top: 70px;
}

.section-ingredients-title {
  background: #F4EDF6;
  padding: 10px;
}

.section-directions-title {
  background: #F8D9D5;
  padding: 10px;
}

.section-tags-title{
  background: #FDE1F7;
  padding: 10px;
}

.ingredient {
  font-size: 1.3em;
  padding: 2px;
}

.direction {
  font-size: 1.3em;
  padding: 2px;

}

.tag {
  font-size:1.3em;
  padding: 2px;

}

.btn {
  background: none;
  border-radius: 0;
  font-size: 1.3em;
}

.btn:hover {
  color:#42729B;
}

/* form */
.submit-button {
  background: #C5EFF7;
  color: #6C7A89;
  border: none;
  font-size: 1.3em;
  padding: 5px 10px;
}

/* home page*/

.intro {
  margin-top:100px;
  text-align: center;
}

.searchBox {
  height: 50px;
  width: 250px;
  margin-top: 60px;
}

.pick-button {
  border:none;
  background: #F8D9D5;
  margin:10px 5px;
  height: 50px;
  font-size: 1.2em;
  padding: 0 15px;
}

.pick-button:hover{
  background: #FE8A71;
}

.pick-button:active{
  background: #F8D9D5;
}

.pick-button:focus {
  outline:0;
}

.searchTag {
  margin:10px;
  padding:3px 10px;
  border:none;
  background: #F4EDF6;
}

.caption h3 {
  text-align: center;
}

.form-control {
  margin: 10px;
  height: 50px;
  align-content: center;
}

.login-button{
  border-radius: 0;
  background: #F8D9D5;
  border:none;

}

.login-button:focus{
  box-shadow:none;
}

.panel-body {
  margin-top: 100px;
}

.signup {
  text-align: center;
  font-size: 1.3em;
  color: #42729B;
}

.signup:visited {
  color: #42729B;
}

.toast-top-full-width {
  margin-top: 60px;
}

.footer {
  text-align: center;
  margin-top:100px;
}

.about {
  height: 80vh;
  background: #fff;
}

.about-intro {
  font-size: 1.3em;
  margin: 10px;
}